* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  border: 0;
  color: #161c2d;
  display: block;
  font-size: 15px;
  line-height: 1.5;
}
p {
  margin-bottom: 16px;
}
hr {
  border-top: 1px solid #05bd93;
  width: 100px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}
ol,
ul {
  list-style: none;
}
.shape-wrapper {
  position: relative !important;
  z-index: 50;
}
#dropdown {
  display: none;
}
a {
  text-decoration: none;
  padding: 6px 0;
  margin: 0 10px;
}
.box-shadow {
  box-shadow: 0px 10px 22px rgb(0 0 0 / 5%);
}
.navbar {
  overflow: hidden;
  transition: 0.5s all ease;
}
.navbar__logo {
  padding: 8px 0;
}
.logo-d {
  display: none;
}
.navbar > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}
.navbar__menu {
  position: relative;
  z-index: 200;
  background-color: #fff;
}
.navbar__link {
  color: #000;
  transition: 0.5s;
  display: block;
}

.navbar__link:hover {
  color: #05bd93;
}

.services {
  padding-top: 90px;
}
.services__wrapper {
  text-align: center;
}
.services__title {
  font-size: 1.8em;
}
.services__subtitle {
  font-size: 15px;
  color: #000;
  opacity: 0.5;
}
.services__caption {
  margin-top: 16px;
}
.services__items {
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
}
.services__item {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  text-align: center;
  align-items: center;
}
.services__item-img {
  max-width: 100%;
  height: auto;
}
.services__item-title {
  margin-top: 16px;
}
.services__item-caption {
  margin-top: 16px;
}
.home {
  background-image: url("https://themesdesign.in/zoric/layout/images/home/bg-home1-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 190px 0 225px;
  position: relative;
  height: auto;
}
.home__wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 100;
  text-align: center;
  justify-content: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 12px;
  position: relative;
  z-index: 100;
  justify-content: center;
}
.home__title {
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 16px;
}
.home__caption {
  color: rgb(245, 245, 245, 0.5);
  font-size: 17px;
}
.home__subtitle {
  letter-spacing: 2px;
  font-size: 15px;
  color: #f5f5f5;
}
.overlay {
  background-color: rgba(23, 52, 57, 0.95);
  /* height: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.toggler {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.btn {
  display: inline-block;
  padding: 12px 24px;
  cursor: pointer;
}
.btn--main {
  margin-top: 32px;
  background: #05bd93;
  border: 1px solid;
  border-color: #05bd93;
  border-radius: 7px;
  color: #fff;
  transition: 0.5s all ease;
}
.btn:hover {
  background-color: #05bd92cc;
  box-shadow: 0px 7px 13px 0px rgba(5, 189, 147, 0.64);
  -webkit-box-shadow: 0px 7px 13px 0px rgba(5, 189, 147, 0.64);
  -moz-box-shadow: 0px 7px 13px 0px rgba(5, 189, 147, 0.64);
}
.shape {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.shape > svg {
  width: 100%;
  height: auto;
}
img,
svg {
  vertical-align: middle;
}
.features {
  margin-left: auto;
  margin-right: auto;
  margin-top: -112px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.features__wrapper {
  padding: 0px 10px;
  margin-top: 16px;
  flex-shrink: 0;
}
.features__box {
  background-color: #fff;
  padding: 20px;
  display: flex;
  color: #000000;
  border-radius: 5px;
  box-shadow: 0px 10px 22px rgb(0 0 0 / 5%);
}
.features__icon {
  width: 40px;
  height: 40px;
  display: flex !important;
  flex-shrink: 0;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgba(5, 189, 147, 0.15);
  color: #05bd93;
  border-radius: 5px;
}
.features__textbox {
  margin-left: 16px;
}
.features__textbox-big {
  font-size: 17px;
}
.features__textbox-small {
  font-size: 15px;
  color: rgba(0, 0, 0);
  opacity: 0.5;
}

@media all and (min-width: 420px) {
  .navbar {
    background-color: #fff;
    padding: 0.75em 0;
    transition: all 0.5s ease;
  }
  .container {
    max-width: 400px;
  }
  .features {
    max-width: 400px;
  }
  .navbar__menu {
    display: none;
  }
  #dropdown:checked + .navbar__menu {
    display: block;
    flex-basis: 100%;
    animation: dropDown 0.5s ease-in-out forwards;
    transform-origin: top center;
    align-items: center;
  }

  .navbar__logo {
    display: none;
  }
  .logo-d {
    display: block;
  }
}
@media all and (min-width: 768px) {
  .navbar {
    background-color: #fff;
  }
  .container {
    max-width: 720px;
  }
  .features {
    max-width: 720px;
  }
  .features__wrapper {
    width: 50%;
  }
  .services__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 991px) {
  .container {
    max-width: 960px;
  }
  .features {
    max-width: 960px;
  }
  .home__wrapper {
    width: 50%;
  }
  .features__wrapper {
    width: calc(100% / 3);
  }

  .services__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .services__wrapper {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  .features {
    max-width: 960px;
  }
  .toggler {
    display: none;
  }
  .navbar {
    background-color: transparent;
    padding: 1.25em 0;
  }
  .navbar__menu {
    display: block;
    flex-basis: auto;
  }
  .navbar__list {
    display: flex;
    flex-direction: row;
  }
  .navbar__logo {
    display: block;
  }
  .logo-d {
    display: none;
  }
  .navbar__link {
    color: #f5f5f5;
  }
}
@media all and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .features {
    max-width: 1320px;
  }
}
@media all and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .features {
    max-width: 1140px;
  }
}
.active {
  color: #05bd93;
}
@keyframes dropDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes wrapUp {
  0% {
    transform: scaleY(1);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(0);
  }
}
